{% extends 'accountss/base.html' %}
{% load static %}

<head>
    <title>Spa Services & Packages</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="preload" href="{% static 'images/spa1.jpg' %}" as="image">
    <link rel="preload" href="{% static 'images/spa2.jpg' %}" as="image">
    <link rel="preload" href="{% static 'images/spa2.jpg' %}" as="image">
</head>

{% block content %}
<div class="carousel slide carousel-fade carousel-fullscreen" id="hotelSpa" data-ride="carousel">
    <ul class="carousel-indicators">
        <li data-target="#hotelSpa" data-slide-to="0" class="active"></li>
        <li data-target="#hotelSpa" data-slide-to="1"></li>
        <li data-target="#hotelSpa" data-slide-to="2"></li>
    </ul>

    <div class="carousel-inner">
        <div class="carousel-item active slide-1">
            <div class="overlay"></div>
            <img src="{% static 'images/spa2.jpg' %}" class="img-fluid" alt="First slide">
            <div class="carousel-caption">
                <h2>Welcome to Our Luxurious Spa</h2>
                <p class="pt-3">Indulge in a world of relaxation and rejuvenation with our exclusive treatments and serene ambiance.</p>
            </div>
        </div>

        <div class="carousel-item slide-2">
            <div class="overlay"></div>
            <img src="{% static 'images/spa1.jpg' %}" class="img-fluid" alt="Second slide">
            <div class="carousel-caption">
                <h2>Experience Ultimate Relaxation</h2>
                <p class="pt-3">Escape the stress of daily life with our soothing massages and therapeutic services.</p>
            </div>
        </div>

        <div class="carousel-item slide-3">
            <div class="overlay"></div>
            <img src="{% static 'images/spa2.jpg' %}" class="img-fluid" alt="Third slide">
            <div class="carousel-caption">
                <h2>Revitalize Your Body and Mind</h2>
                <p class="pt-3">Immerse yourself in a tranquil environment and enjoy our tailored spa treatments.</p>
            </div>
        </div>
    </div><!-- carousel-inner -->
</div>
<div class="container mt-5">
    <div class="row d-flex align-items-stretch">
        <!-- Spa Hours Card -->
        <div class="col-md-6 mb-4">
            <div class="card shadow-sm rounded h-100">
                <div class="card-body">
                    <h6 class="card-title font-weight-bold"><i class="bi bi-clock"></i> Spa Hours</h6>
                    <div class="row mb-2">
                        <div class="col-6"><strong>Monday - Sunday</strong></div>
                        <div class="col-6">7:00 AM - 9:00 PM</div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Location Card -->
        <div class="col-md-6 mb-4">
            <div class="card shadow-sm rounded h-100">
                <div class="card-body">
                    <h6 class="card-title font-weight-bold"><i class="bi bi-geo-alt"></i> Location</h6>
                    <div class="row mb-2">
                        <div class="col-5"><strong>Address</strong></div>
                        <div class="col-7">ADAR Hotel, Second Floor</div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-5"><strong>Location</strong></div>
                        <div class="col-7">Near the wellness center</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-5">
    <h3 class="text-center mb-4 mt-5 font-weight-bold">Spa Services</h3>
    <div class="d-flex justify-content-between align-items-center mb-2">
        <button class="btn btn-outline-dark btn-sm rounded-circle mx-2" id="prev-service-btn"><i class="bi bi-chevron-left"></i></button>
        <div class="row flex-nowrap overflow-hidden w-100" id="services-container">
            {% for service in services %}
                <div class="col-sm-3 d-flex">
                    <div class="card shadow rounded service-card flex-fill d-flex flex-column" data-item-id="{{ service.id }}" data-item-type="service">
                        <img src="{{ service.image.url }}" alt="{{ service.name }}" class="card-img-top">
                        <div class="card-body flex-fill d-flex flex-column">
                            <h2 class="card-title"><strong>{{ service.name }}</strong></h2>
                            <p class="card-text small">{{ service.description }}</p>
                            <div class="mt-auto">
                                <p class="card-text">Price {{ service.price }} ETB</p>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <button class="btn btn-outline-dark btn-sm rounded-circle mx-2" id="next-service-btn"><i class="bi bi-chevron-right"></i></button>
    </div>
    <div class="d-flex justify-content-center align-items-center mt-4">
        <form id="service-selection-form" class='w-50' method="get">
        
            <input type="hidden" name="item_id" id="selected-service-id">
            <input type="hidden" name="item_type" id="selected-service-type" value="service">
            <button type="submit" id="service-signup-button" class="btn mt-3 w-100 btn-sm rounded btn-success" style="display:none;">Book Appointment</button>
        </form>
    </div>

    <h3 class="text-center mb-4 mt-5 font-weight-bold">Spa Packages</h3>
    <div class="d-flex justify-content-between align-items-center mb-2">
        <button class="btn btn-outline-dark btn-sm rounded-circle mx-2" id="prev-package-btn"><i class="bi bi-chevron-left"></i></button>
        <div class="row flex-nowrap overflow-hidden w-100" id="packages-container">
            {% for package in packages %}
                <div class="col-sm-3 d-flex">
                    <div class="card shadow rounded package-card flex-fill d-flex flex-column" data-item-id="{{ package.id }}" data-item-type="package">
                        <img src="{{ package.image.url }}" alt="{{ package.name }}" class="card-img-top">
                        <div class="card-body flex-fill d-flex flex-column">
                            <h2 class="card-title"><strong>{{ package.name }}</strong></h2>
                            <p class="card-text small">{{ package.description }}</p>
                            <div class="mt-auto">
                                <p class="card-text">Price {{ package.price }} ETB</p>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <button class="btn btn-outline-dark btn-sm rounded-circle mx-2" id="next-package-btn"><i class="bi bi-chevron-right"></i></button>
    </div>
    <div class="d-flex justify-content-center align-items-center mt-4">
        <form id="package-selection-form" class='w-50' method="get">
            
            <input type="hidden" name="item_id" id="selected-package-id">
            <input type="hidden" name="item_type" id="selected-package-type" value="package">
            <button type="submit" id="package-signup-button" class="btn mt-3 w-100 btn-sm rounded btn-success" style="display:none;">Book Appointment</button>
        </form>
    </div>

    <div class="container" id="alert-container">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-dismissible text-center mt-5 alert-{{ message.tags }} rounded">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    </div>
</div>

<style>
    .service-card, .package-card {
        cursor: pointer;
        transition: border 0.3s;
    }
    .service-card.selected, .package-card.selected {
        border: 4px solid green;
    }
    .flex-nowrap {
        display: flex;
        flex-wrap: nowrap;
    }
    .overflow-hidden {
        overflow: hidden;
    }
</style>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const serviceCards = document.querySelectorAll('.service-card');
        const packageCards = document.querySelectorAll('.package-card');
        const selectedServiceIdInput = document.getElementById('selected-service-id');
        const selectedPackageIdInput = document.getElementById('selected-package-id');
        const serviceForm = document.getElementById('service-selection-form');
        const packageForm = document.getElementById('package-selection-form');
        const serviceSignupButton = document.getElementById('service-signup-button');
        const packageSignupButton = document.getElementById('package-signup-button');

        function clearSelections() {
            serviceCards.forEach(card => card.classList.remove('selected'));
            packageCards.forEach(card => card.classList.remove('selected'));
        }

        serviceCards.forEach(function(card) {
            card.addEventListener('click', function () {
                clearSelections();
                this.classList.toggle('selected');
                selectedServiceIdInput.value = this.classList.contains('selected') ? this.getAttribute('data-item-id') : '';
                serviceSignupButton.style.display = this.classList.contains('selected') ? 'block' : 'none';
                packageSignupButton.style.display = 'none';
                serviceForm.action = `book/service/${selectedServiceIdInput.value}/`;
            });
        });

        packageCards.forEach(function(card) {
            card.addEventListener('click', function () {
                clearSelections();
                this.classList.toggle('selected');
                selectedPackageIdInput.value = this.classList.contains('selected') ? this.getAttribute('data-item-id') : '';
                packageSignupButton.style.display = this.classList.contains('selected') ? 'block' : 'none';
                serviceSignupButton.style.display = 'none';
                packageForm.action = `book/package/${selectedPackageIdInput.value}/`;
            });
        });

        serviceForm.addEventListener('submit', function(event) {
            // Clear previous alerts
            document.querySelectorAll('.alert').forEach(alert => alert.remove());

            if (!selectedServiceIdInput.value) {
                event.preventDefault();
                showAlert('Please select a service', 'danger');
            }
        });

        packageForm.addEventListener('submit', function(event) {
            // Clear previous alerts
            document.querySelectorAll('.alert').forEach(alert => alert.remove());

            if (!selectedPackageIdInput.value) {
                event.preventDefault();
                showAlert('Please select a package', 'danger');
            }
        });

        function showAlert(message, type) {
            const alertDiv = document.createElement('div');
            alertDiv.className = `alert alert-dismissible text-center mt-5 alert-${type} rounded mx-auto d-block`;
            alertDiv.style.width = "80%";
            alertDiv.innerHTML = `
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                ${message}
            `;
            document.getElementById('alert-container').appendChild(alertDiv);
        }

        function scrollServicesContainer(direction) {
            const container = document.getElementById('services-container');
            const scrollAmount = direction === 'left' ? -container.clientWidth / 2 : container.clientWidth / 2;
            container.scrollBy({ left: scrollAmount, behavior: 'smooth' });
        }

        function scrollPackagesContainer(direction) {
            const container = document.getElementById('packages-container');
            const scrollAmount = direction === 'left' ? -container.clientWidth / 2 : container.clientWidth / 2;
            container.scrollBy({ left: scrollAmount, behavior: 'smooth' });
        }

        document.getElementById('prev-service-btn').addEventListener('click', () => scrollServicesContainer('left'));
        document.getElementById('next-service-btn').addEventListener('click', () => scrollServicesContainer('right'));
        document.getElementById('prev-package-btn').addEventListener('click', () => scrollPackagesContainer('left'));
        document.getElementById('next-package-btn').addEventListener('click', () => scrollPackagesContainer('right'));
    });
</script>
{% endblock content %}
