Django==5.0.4
django_countries==7.6.1
django_environ==0.12.0
huey==2.5.3
ngrok==1.4.0
openpyxl==3.1.5
paypalrestsdk==1.13.3
premailer==3.10.0
python-dotenv==1.1.0
qrcode==8.1
reportlab==4.3.1
Requests==2.32.3
six==1.17.0
xhtml2pdf==0.2.17
