{% extends 'accountss/base.html' %}
{% load static %}

<head>
  ...
  <link rel="preload" href="{% static 'images/beach.jpg' %}" as="image">
  <link rel="preload" href="{% static 'images/lobby.jpg' %}" as="image">
  <link rel="preload" href="{% static 'images/lobby2.jpg' %}" as="image">
  ...
</head>

{% block content %}
  
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  
  <!-- Image Slider -->
  <div class="carousel slide carousel-fade carousel-fullscreen" id="featured" data-ride="carousel">
    <ul class="carousel-indicators">
      <li data-target="#featured" data-slide-to="0" class="active"></li>
      <li data-target="#featured" data-slide-to="1"></li>
      <li data-target="#featured" data-slide-to="2"></li>
    </ul>

    <div class="carousel-inner">
      <div class="carousel-item active slide-1">
        <div class="overlay"></div>
        <img src="{% static 'images/beach.jpg' %}" class="img-fluid" alt="First slide">
        <div class="carousel-caption">
          <h2>Welcome to OLIKS HOMES</h2>
          <!-- <p class="pt-3">come to Oliks Resort</h2> -->
            <p class="text-center mb-5">Experience a luxurious stay in our fully furnished vacation homes, perfect for family retreats, group getaways, or a serene personal escape.</p>
        </div>
      </div>

      <div class="carousel-item slide-2">
        <div class="overlay"></div>
        <img src="{% static 'images/lobby.jpg' %}" class="img-fluid" alt="second slide">
        <div class="carousel-caption">
          <h2>Enjoy Luxury Experience</h2>
          <p class=" pt-3">Experience the warmth of Ghanaian hospitality. Unwind in luxury, right in the heart of OLIKS HOMES.</p>
        </div>
      </div>

      <div class="carousel-item slide-3">
        <div class="overlay"></div>
        <img src="{% static 'images/lobby2.jpg' %}" class="img-fluid" alt="third slide">
        <div class="carousel-caption">
          <h2>A Place to Stay and Relax</h2>
          <p class="pt-3">A gateway to Kakum's vibrant heritage and modern comforts. Your exceptional journey begins here</p>
        </div>
      </div>
    </div><!-- carousel-inner -->
  </div> <!-- carousel -->
  <!-- End of Image Slider -->

  <!-- About -->
  <div class="container">
    <div class="row py-5">
        <div class="col-md-6 d-block-sm pb-4">
            <div class="card h-100 border-0  rounded">
                <div class="card-body">
                    <h2 class="card-title text-center font-weight-bold">About Us</h2>
                    <p class="card-text text-justify">Nestled in the heart of OLIKS HOMES, OLIKS HOMES offers a perfect blend of modern luxury and traditional Ghanaian charm. Our hotel provides comfortable and elegantly furnished rooms, exceptional dining experiences, and top-notch amenities to ensure a memorable stay. Conveniently located close to major attractions and business districts, OLIKS HOMES is ideal for both leisure and business travelers. Enjoy warm hospitality and a serene atmosphere, making OLIKS HOMES your home away from home in Kakum's vibrant road.</p>
                    <div class="mt-3">
                        <a href="{% url 'about'%}" class="btn btn-sm btn-primary rounded active" role="button" aria-pressed="true">Read more</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 d-block-sm">
            <img class="w-100 rounded" src="{% static 'images/hotel-indoors.jpg' %}" alt="Hotel lobby">
        </div>
    </div> <!-- row -->
</div> <!-- container -->

  <!-- End of About -->

  <!-- Rooms -->
  
  
  <!-- End of Rooms -->

  <div class="container my-5">
    <h2 class="text-center mb-5 font-weight-bold">Our Features</h2>
    <div class="row">
      <!-- Attraction 1: kitchen -->
      <div class="col-md-4">
        <div class="card  rounded border-1 mb-4 shadow" data-aos="fade" data-aos-duration="4000" data-aos-delay="50" data-aos-offset="300">
          <img src="{% static 'images/kitchen.jpeg' %}" style="width: 400;height: 270px;" class="card-img-top rounded" alt="Entoto Hill">
          <div class="card-body">
            <h5 class="card-title font-weight-bold">Kitchen</h5>
            <p class="card-text">Our fully equipped kitchen features modern appliances, ample counter space, and everything you need to prepare delicious meals during your stay at OLIKS HOMES.</p>            <div class="d-flex justify-content-center">
            <a href="" class="btn btn-sm rounded btn-warning text-dark rounded font-weight-bold" target="_blank"><i class="bi bi-map"></i> Get Directions</a>
          </div>
          </div>
        </div>
      </div>
      <!-- Attraction 2: Hall -->
      <div class="col-md-4">
        <div class="card rounded border-1 mb-4 shadow" data-aos="fade" data-aos-duration="4000" data-aos-delay="50" data-aos-offset="300">
          <img src="{% static 'images/hall.jpeg' %}" style="width: 400;height: 270px;" class="card-img-top rounded" alt="Adwa Museum">
          <div class="card-body">
            <h5 class="card-title font-weight-bold">Hall</h5>
            <p class="card-text">Relax and unwind in the spacious hall, designed with cozy seating, elegant decor, and the perfect ambiance for family gatherings or entertainment at OLIKS HOMES.</p>            <div class="d-flex justify-content-center">
            <a href="" class="btn btn-sm rounded btn-warning text-dark rounded font-weight-bold" target="_blank"><i class="bi bi-map"></i> Get Directions</a>
          </div>
        </div>
        </div>
      </div>
      <!-- Attraction 3: Bed Room -->
      <div class="col-md-4">
        <div class="card border-1 rounded mb-4 shadow" data-aos="fade" data-aos-duration="4000" data-aos-delay="50" data-aos-offset="300">
          <img src="{% static 'images/bedroom.jpeg' %}" style="width: 400;height: 270px;" class="card-img-top rounded" alt="Friendship Park">
          <div class="card-body">
            <h5 class="card-title font-weight-bold">Bed Room</h5>
            <p class="card-text">Enjoy peaceful rest in our beautifully furnished bedroom, featuring a plush bed, soft lighting, and a tranquil atmosphere tailored for your ultimate comfort.</p>            <div class="d-flex justify-content-center">
            <a href="" class="btn btn-sm btn-warning text-dark rounded font-weight-bold" target="_blank"><i class="bi bi-map"></i> Get Directions</a>
          </div>  
          </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End of Attractions -->
  
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
  
  {% endblock content %}
