{% extends 'accountss/base.html' %}
{% load static %}
<!-- membership_plans.html -->

<head>
    ...
    <link rel="preload" href="{% static 'images/gym1.jpg' %}" as="image">
    <link rel="preload" href="{% static 'images/gym2.jpg' %}" as="image">
    <link rel="preload" href="{% static 'images/gym3.jpg' %}" as="image">
    ...
</head>

{% block content %}
<div class="carousel slide carousel-fade carousel-fullscreen" id="featured" data-ride="carousel">
    <ul class="carousel-indicators">
        <li data-target="#featured" data-slide-to="0" class="active"></li>
        <li data-target="#featured" data-slide-to="1"></li>
        <li data-target="#featured" data-slide-to="2"></li>
    </ul>

    <div class="carousel-inner">
        <div class="carousel-item active slide-1">
            <div class="overlay"></div>
            <img src="{% static 'images/gym1.jpg' %}" class="img-fluid" alt="First slide">
            <div class="carousel-caption">
                <h2>Welcome to ADAR Gym</h2>
                <p class="pt-3">Where fitness meets excellence. Achieve your goals with state-of-the-art equipment and expert guidance.</p>
            </div>
        </div>

        <div class="carousel-item slide-2">
            <div class="overlay"></div>
            <img src="{% static 'images/gym2.jpg' %}" class="img-fluid" alt="Second slide">
            <div class="carousel-caption">
                <h2>Experience Peak Performance</h2>
                <p class="pt-3">Unleash your potential with our advanced training facilities and supportive community.</p>
            </div>
        </div>

        <div class="carousel-item slide-3">
            <div class="overlay"></div>
            <img src="{% static 'images/gym3.jpg' %}" class="img-fluid" alt="Third slide">
            <div class="carousel-caption">
                <h2>Your Fitness Journey Begins Here</h2>
                <p class="pt-3">Embark on a transformative journey with personalized training programs and a motivating environment.</p>
            </div>
        </div>
    </div><!-- carousel-inner -->
</div>

<div class="container mt-5">
    <div class="row">
        <!-- Gym Hours Card -->
        <div class="col-md-6 mb-4">
            <div class="card shadow-sm rounded">
                <div class="card-body">
                    <h6 class="card-title font-weight-bold"><i class="bi bi-clock"></i> Gym Hours</h6>
                    <div class="row mb-2">
                        <div class="col-6 "><strong>Monday - Friday</strong></div>
                        <div class="col-6">6:00 AM - 10:00 PM</div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-6"><strong>Saturday - Sunday</strong></div>
                        <div class="col-6">7:00 AM - 9:00 PM</div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Location Card -->
        <div class="col-md-6 mb-4">
            <div class="card shadow-sm rounded">
                <div class="card-body">
                    <h6 class="card-title font-weight-bold"><i class="bi bi-geo-alt"></i> Location</h6>
                    <div class="row mb-2">
                        <div class="col-5"><strong>Address</strong></div>
                        <div class="col-7">ADAR Hotel, Ground Floor </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-5"><strong>Location</strong></div>
                        <div class="col-7">Adjacent to the pool area</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <h3 class="text-center mb-4 mt-5 font-weight-bold">Membership Plans</h3>
    <div class="row" id="plans-container">
        {% for plan in plans %}
            <div class="col-sm-3 d-flex">
                <div class="card shadow rounded plan-card flex-fill d-flex flex-column" data-plan-id="{{ plan.id }}">
                    <div class="card-body flex-fill d-flex flex-column">
                        
                        <h2 class="card-title"><strong>{{ plan.name }}</strong></h2>
                        <p class="card-text small">{{ plan.description }}</p>
                        <div class="mt-auto">
                            <p class="card-text">Price: {{ plan.price }} ETB</p>
                            <p class="card-text">Duration: {{ plan.duration_months }} months</p>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="container" id="alert-container">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-dismissible text-center mt-5 alert-{{ message.tags }} rounded">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    </div>
    <div class="d-flex justify-content-center align-items-center mt-4">
        <form id="plan-selection-form" class='w-50' method="get" action="">
            <input type="hidden" name="plan_id" id="selected-plan-id">  <!-- Hidden input for plan_id -->
            <button type="submit" class="btn mt-3 w-100 btn-sm rounded btn-success">Continue to Sign Up</button>
        </form>
    </div>
</div>

<style>
    .plan-card {
        cursor: pointer;
        transition: border 0.3s;
    }
    .plan-card.selected {
        border: 4px solid green;
    }
</style>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const planCards = document.querySelectorAll('.plan-card');
        const planIdInput = document.getElementById('selected-plan-id');
        const form = document.getElementById('plan-selection-form');

        planCards.forEach(function(card) {
            card.addEventListener('click', function () {
                planCards.forEach(function(c) {
                    c.classList.remove('selected');
                });
                this.classList.add('selected');
                planIdInput.value = this.getAttribute('data-plan-id');
                form.action = `/gym/membership-signup/${planIdInput.value}/`;
            });
        });

        form.addEventListener('submit', function(event) {
            // Clear previous alerts
            document.querySelectorAll('.alert').forEach(alert => alert.remove());

            if (!planIdInput.value) {
                event.preventDefault();
                showAlert('Please select a plan', 'danger');
            }
        });

        function showAlert(message, type) {
            const alertDiv = document.createElement('div');
            alertDiv.className = `alert alert-dismissible text-center mt-5 alert-${type} rounded mx-auto d-block`;
            alertDiv.style.width = "80%";
            alertDiv.innerHTML = `
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                ${message}
            `;
            document.getElementById('alert-container').appendChild(alertDiv);
        }
    });
</script>
{% endblock content %}
