{% extends 'accountss/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
<br>
<div class="container mt-3">
    {% if messages %}
        <div class="container">
            {% for message in messages %}
                <div class="alert alert-dismissible text-center mt-5 alert-{{ message.tags }} rounded">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}
</div>
<br>

<div class="container mt-3 ">
    <h3 class="mb-5 text-center font-weight-bold">Your Gym Memberships</h3>
    <!-- Centered dismissable alert -->
<div class="container mt-3 mb-2">
    <div class="alert alert-warning alert-dismissible fade show text-center " role="alert">
        <i class="bi bi-info-circle"></i>&ensp;Pending memberships will be cancelled automatically if payment isn't completed within two days of creating membership.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</div>

    
    <!-- Filter Button Group -->
    <div class="btn-group d-flex justify-content-center mb-4" role="group" aria-label="Filter Memberships">
        <a href="{% url 'my_memberships' %}" class="btn rounded btn-sm mx-1 {% if not request.GET.status %}btn-warning{% else %}btn-outline-dark{% endif %}">All</a>
        <a href="{% url 'my_memberships' %}?status=pending" class="btn rounded btn-sm mx-1 {% if request.GET.status == 'pending' %}btn-warning{% else %}btn-outline-dark{% endif %}">Pending</a>
        <a href="{% url 'my_memberships' %}?status=active" class="btn rounded btn-sm mx-1 {% if request.GET.status == 'active' %}btn-warning{% else %}btn-outline-dark{% endif %}">Active</a>
        <a href="{% url 'my_memberships' %}?status=cancelled" class="btn rounded btn-sm mx-1 {% if request.GET.status == 'cancelled' %}btn-warning{% else %}btn-outline-dark{% endif %}">Cancelled</a>
    </div>

    <!-- Flexbox container for cards -->
    <div class="row mt-5 d-flex align-items-stretch">
        {% with filter_status=request.GET.status %}
            {% for membership in memberships %}
                {% if not filter_status or membership.status == filter_status %}
                    <div class="col-md-6 mb-4 d-flex">
                        <div class="card shadow rounded flex-fill">
                            <div class="card-body d-flex flex-column">
                                <h4 class="card-title font-weight-bold">{{ membership.plan.name }}</h4>
                                <p class="card-text small">{{ membership.plan.description }}</p>
                                <div class="row mb-2">
                                    <div class="col-sm-5 text-left"><strong>Membership ID</strong></div>
                                    <div class="col-sm-7 text-center">{{ membership.id }}</div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-sm-5 text-left"><strong>Start Date</strong></div>
                                    <div class="col-sm-7 text-center">{{ membership.start_date }}</div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-sm-5 text-left"><strong>End Date</strong></div>
                                    <div class="col-sm-7 text-center">{{ membership.end_date }}</div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-sm-5 text-left"><strong>Status</strong></div>
                                    <div class="col-sm-7 text-center">{{ membership.get_status_display }}</div>
                                </div>
                                {% if membership.for_first_name %}
                                    <div class="row mb-2">
                                        <div class="col-sm-5 text-left"><strong>For</strong></div>
                                        <div class="col-sm-7 text-center">{{ membership.for_first_name }} {{ membership.for_last_name }}</div>
                                    </div>
                                {% else %}
                                    <div class="row mb-2">
                                        <div class="col-sm-5 text-left"><strong>For</strong></div>
                                        <div class="col-sm-7 text-center">{{ membership.user.first_name }} {{ membership.user.last_name }}</div>
                                    </div>
                                {% endif %}
                                <div class="mt-auto d-flex justify-content-center">
                                    {% if membership.status == 'pending' %}
                                        <a href="{% url 'membership_signup' membership.plan.id %}?membership_id={{ membership.id }}&start_date={{ membership.start_date|date:'Y-m-d' }}" class="btn btn-sm btn-success rounded">Pay</a>
                                    {% endif %}
                                    {% if membership.status != 'cancelled' %}
                                    <button type="button" class="btn btn-sm btn-danger rounded ml-2" data-toggle="modal" data-target="#cancelModal{{ membership.id }}">
                                        Cancel
                                    </button>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Modal for cancel membership -->
                    <div class="modal rounded fade" id="cancelModal{{ membership.id }}" tabindex="-1" role="dialog" aria-labelledby="cancelModalLabel{{ membership.id }}" aria-hidden="true">
                        <div class="modal-dialog rounded" role="document">
                            <div class="modal-content rounded">
                                <div class="modal-header border-0 rounded">
                                    <h5 class="modal-title" id="cancelModalLabel{{ membership.id }}">Cancel Membership</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body border-0 rounded">
                                    Are you sure you want to cancel your membership?
                                </div>
                                <div class="modal-footer border-0 rounded">
                                    <form method="post" action="{% url 'cancel_membership' membership.id %}">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-sm rounded btn-danger">Confirm</button>
                                    </form>
                                    <button type="button" class="btn btn-sm rounded btn-secondary" data-dismiss="modal">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        {% endwith %}
    </div>
</div>
{% endblock %}
