{% extends 'admins/base.html' %}
{% load widget_tweaks %}

{% block content %}
<div class="d-flex justify-content-center">
    <div class="card shadow-sm w-100 w-md-75 mt-4">
        <h5 class="card-title text-center mb-3 mt-3"><strong>Create Booking</strong></h5>
        <div class="card-body">
            <form method="post" class="d-flex flex-column align-items-center">
                {% csrf_token %}
                {% if form.non_field_errors %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    {% for error in form.non_field_errors %}
                        {{ error }}<br>
                    {% endfor %}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endif %}
                {% for field in form %}
                    <div class="mb-3 w-100 w-md-75">
                        <label class="mb-1 font-weight-bold" for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {{ field|add_class:"form-control rounded" }}
                        {% if field.errors %}
                            <div class="alert alert-danger mt-2">
                                {{ field.errors|first }}
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
                <div class="d-flex justify-content-around w-100 w-md-50 mt-3 mb-5">
                    <button type="submit" class="btn btn-sm btn-primary w-45">Save</button>
                    <a href="{% url 'admins:booking_list' %}" class="btn btn-sm btn-secondary w-45">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
