{% extends 'admins/base.html' %}

{% block content %}
<div class="container mt-3">
    {% if messages %}
        <div class="container">
            {% for message in messages %}
                <div class="alert alert-dismissible text-center mt-5 alert-{{ message.tags }} rounded">
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}
</div>
<div class="container-fluid mt-5">
    <h4 class="text-center mb-4"><strong>Booking List</strong></h4>
    
    <!-- Search Form -->
    <form method="get" action="" class="mb-4 d-flex flex-wrap justify-content-between">
        <div class="input-group mb-3 w-100 w-md-50">
            <input type="text" name="search" class="form-control form-control-sm" placeholder="Search by room number, type, user, or transaction reference" value="{{ request.GET.search }}">
            <div class="input-group-append">
                <button class="btn btn-sm btn-warning pb-3" type="submit">Search</button>
            </div>
        </div>
        <div class="d-flex flex-wrap w-100 w-md-50 justify-content-center justify-content-md-end">
            <a href="{% url 'admins:booking_create' %}" class="btn btn-primary btn-sm mb-2 mb-md-0">Create Room Booking</a>&ensp;
            <a href="{% url 'admins:booking_list' %}" class="btn btn-sm btn-success ms-md-2">Show All</a>
        </div>
    </form>

    <div class="table-responsive">
        <table class="table  table-hover">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Room Number</th>
                    <th scope="col">Room Type</th>
                    <th scope="col">User Fullname</th>
                    <th scope="col">Check-in Date</th>
                    <th scope="col">Check-out Date</th>
                    <th scope="col">Extended Check-out Date</th>
                    <th scope="col">Total Amount</th>
                    <th scope="col">Checked-in</th>
                    <th scope="col">Checked-out</th>
                    <th scope="col">Status</th>
                    <th scope="col">Transaction Id</th>
                    <th scope="col" class="text-center">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% if object_list %}
                {% for item in object_list %}
                <tr>
                    <td class="align-middle">{{ item.room.room_number }}</td>
                    <td class="align-middle">{{ item.room.room_type.name }}</td>
                    <td class="align-middle">{% if item.full_name %}{{ item.full_name }}{% else %}{{ item.user.username }}{% endif %}</td>
                    <td class="align-middle">{{ item.check_in_date }}</td>
                    <td class="align-middle">{{ item.check_out_date }}</td>
                    <td class="align-middle">{{ item.extended_check_out_date|default:"-" }}</td>
                    <td class="align-middle">{{ item.total_amount }}</td>
                    <td class="align-middle">{{ item.checked_in }}</td>
                    <td class="align-middle">{{ item.checked_out }}</td>
                    <td class="align-middle">{{ item.get_status_display }}</td>
                    <td class="align-middle">{{ item.tx_ref }}</td>

                    <td class="">
                        <div class="btn-group" role="group">
        <!-- View button -->
        <a href="{% url 'admins:booking_detail' item.id %}" class="btn btn-link text-warning">
            <span class="material-symbols-outlined">info</span>
        </a>

        
                            <!-- Edit button (shown only if booking is not canceled) -->
        {% if item.status != 'cancelled' %}
        <a href="{% url 'admins:booking_update' item.id %}" class="btn btn-link text-primary">
            <span class="material-symbols-outlined">edit_note</span>
        </a>
        {% endif %}
        
        
        <!-- Download ID Image button (shown only if ID image exists) -->
        {% if item.id_image %}
        <a href="{% url 'admins:download_id_image' item.id %}" class="btn btn-link text-info">
            <span class="material-symbols-outlined">download</span>
        </a>
        {% endif %}
                            {% if item.status == 'pending' %}
                            {% if item.extended_check_out_date %}
                            {% with payment=item.payment %}
                            <a href="{% url 'admins:payment_extend_update' booking_id=item.id pk=payment.id %}" class="btn btn-link text-warning">
                                <span class="material-symbols-outlined">payments</span>
                            </a>
                            {% endwith %}
                            {% else %}
                            <a href="{% url 'admins:payment_create' item.id %}" class="btn btn-link text-warning">
                                <span class="material-symbols-outlined">payments</span>
                            </a>
                            {% endif %}
                            {% endif %}
                        </div>
                    </td>
                </tr>
                {% endfor %}
                {% else %}
                <tr>
                    <td colspan="11" class="text-center text-danger">No data available</td>  
                </tr>
                {% endif %}
            </tbody>
        </table>
    </div>

    <!-- Pagination Controls -->
    <div class="d-flex justify-content-center">
        <nav>
            <ul class="pagination">
                {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page=1{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}" aria-label="First">
                        <span aria-hidden="true">&laquo;&laquo;</span>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                {% else %}
                <li class="page-item disabled"><span class="page-link">&laquo;&laquo;</span></li>
                <li class="page-item disabled"><span class="page-link">&laquo;</span></span></li>
                {% endif %}

                {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                <li class="page-item active bg-warning text-dark"><span class="page-link bg-warning text-dark">{{ num }}</span></li>
                {% elif num > page_obj.number|add:-5 and num < page_obj.number|add:5 %}
                <li class="page-item"><a class="page-link" href="?page={{ num }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">{{ num }}</a></li>
                {% endif %}
                {% endfor %}

                {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}" aria-label="Last">
                        <span aria-hidden="true">&raquo;&raquo;</span>
                    </a>
                </li>
                {% else %}
                <li class="page-item disabled"><span class="page-link">&raquo;</span></span></li>
                <li class="page-item disabled"><span class="page-link">&raquo;&raquo;</span></span></li>
                {% endif %}
            </ul>
        </nav>
    </div>
</div>
{% endblock %}
