{% extends 'admins/base.html' %}
{% load widget_tweaks %}

{% block content %}
<div class="container mt-4 mb-4">
    <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8">
            <div class="card shadow-lg rounded">

                <h5 class="card-title text-center mt-3 mb-3"><strong>Check Hall Availability</strong></h5>
                {% if form.is_valid %}
                        <div class="mt-4 text-center">
                            {% if availability %}
                                <p class="text-success"><strong>Hall is available for the selected dates and times.</strong></p>
                                <a href="{% url 'admins:hall_booking_create' hall.pk %}" class="btn btn-warning">Create Booking</a>
                            {% else %}
                                <p class="text-danger"><strong>Hall is not available for the selected dates and times.</strong></p>
                            {% endif %}
                        </div>
                    {% endif %}

                <div class="card-body">
                    <form method="post" class="d-flex flex-column align-items-center">
                        {% csrf_token %}
                        {% if form.non_field_errors %}
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            {% for error in form.non_field_errors %}
                                {{ error }}<br>
                            {% endfor %}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                        {% endif %}
                        {% for field in form %}
                            <div class="mb-3 w-100">
                                <label class="mb-1" for="{{ field.id_for_label }}"><strong>{{ field.label }}</strong></label>
                                {{ field|add_class:"form-control rounded" }}
                                {% if field.errors %}
                                    <div class="alert alert-danger mt-2">
                                        {{ field.errors|first }}
                                    </div>
                                {% endif %}
                            </div>
                        {% endfor %}
                        <div class="d-flex flex-column flex-md-row justify-content-center mt-3">
                            <button type="submit" class="btn btn-primary mb-2 mb-md-0 w-100 w-md-50">Check Availability</button>
                            <a href="{% url 'admins:hall_booking_list' %}" class="btn btn-secondary w-100 w-md-50 ms-md-2">Cancel</a>
                        </div>
                    </form>
    
                 </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
