{% extends 'admins/base.html' %}

{% block content %}
<div class="container mt-4">
    <h3 class="mb-4 text-center"><strong>Membership Reports</strong></h3>

    <!-- Calculated Reports -->
    <div class="card shadow-sm rounded mb-4">
        <div class="card-body">
            <h5 class="card-title mb-3"><i class="bi bi-calculator"></i><strong> Calculated Reports</strong></h5>
            <div class="row mb-2">
                <div class="col-5"><strong>This Month's Memberships</strong></div>
                <div class="col-7">{{ monthly_memberships }}</div>
            </div>
            <div class="row mb-2">
                <div class="col-5"><strong>This Month's Revenue</strong></div>
                <div class="col-7">ETB {{ monthly_revenue }}</div>
            </div>
        </div>
    </div>

    <!-- Memberships by Plan -->
    <div class="row">
        <div class="col-md-6">
            <div class="card mb-4 shadow-sm h-100">
                <div class="card-header">
                    <h5 class="card-title"><strong>Memberships by Plan</strong></h5>
                </div>
                <div class="card-body">
                    <ul class="list-group">
                        {% for item in memberships_by_plan %}
                            <li class="list-group-item d-flex justify-content-between">
                                <span>{{ item.plan__name }}</span>
                                <span>{{ item.total }} memberships</span>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>

        <!-- Additional reports can be added here as needed -->
    </div>

    <!-- Download Data Reports -->
    <div class="card shadow-sm rounded mb-4 mt-4">
        <div class="card-header">
            <h5 class="card-title"><strong>All Data Reports</strong></h5>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6 mb-3">
                    <form action="{% url 'admins:export_membership_report' 'memberships' %}" method="POST">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-warning btn-block">
                            <i class="bi bi-download"></i> Download All Memberships Report
                        </button>
                    </form>
                </div>
                <div class="col-md-6 mb-3">
                    <form action="{% url 'admins:export_membership_report' 'payments' %}" method="POST">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-warning btn-block">
                            <i class="bi bi-download"></i> Download All Payments Report
                        </button>
                    </form>
                </div>

                <!-- Monthly Memberships Report Form -->
                <div class="col-md-6 mb-3">
                    <button type="button" class="btn btn-warning btn-block" onclick="toggleForm('monthly_memberships_form')">
                        <i class="bi bi-download"></i> Download Monthly Memberships Report
                    </button>
                    <form id="monthly_memberships_form" method="POST" action="{% url 'admins:export_membership_report' 'monthly_memberships' %}" style="display: none;" onsubmit="return validateDates('start_month_memberships', 'end_month_memberships', 'monthly_memberships_error')">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="col">
                                <label for="start_month_memberships"><strong>Start Month</strong></label>
                                <input type="month" id="start_month_memberships" name="start_month" class="form-control form-control-sm mt-2 w-50" required>
                            </div>
                            <div class="col">
                                <label for="end_month_memberships"><strong>End Month</strong></label>
                                <input type="month" id="end_month_memberships" name="end_month" class="form-control form-control-sm mt-2 w-50" required>
                                <div id="monthly_memberships_error" class="text-danger mt-2"></div>
                            </div>
                            <div class="col">
                                <button type="submit" class="btn btn-warning btn-block btn-sm mt-2">
                                    <i class="bi bi-download"></i> Submit and Download
                                </button>
                            </div>
                        </div>
                    </form>
                </div>

                <!-- Monthly Revenue Report Form -->
                <div class="col-md-6 mb-3">
                    <button type="button" class="btn btn-warning btn-block" onclick="toggleForm('monthly_revenue_form')">
                        <i class="bi bi-download"></i> Download Monthly Revenue Report
                    </button>
                    <form id="monthly_revenue_form" method="POST" action="{% url 'admins:export_membership_report' 'monthly_revenue' %}" style="display: none;" onsubmit="return validateDates('start_month_revenue', 'end_month_revenue', 'monthly_revenue_error')">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="col">
                                <label for="start_month_revenue"><strong>Start Month</strong></label>
                                <input type="month" id="start_month_revenue" name="start_month" class="form-control form-control-sm mt-2 w-50" required>
                            </div>
                            <div class="col">
                                <label for="end_month_revenue"><strong>End Month</strong></label>
                                <input type="month" id="end_month_revenue" name="end_month" class="form-control form-control-sm mt-2 w-50" required>
                                <div id="monthly_revenue_error" class="text-danger mt-2"></div>
                            </div>
                            <div class="col">
                                <button type="submit" class="btn btn-warning btn-block btn-sm mt-2">
                                    <i class="bi bi-download"></i> Submit and Download
                                </button>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>

<script>
    function toggleForm(formId) {
        var form = document.getElementById(formId);
        if (form.style.display === "none" || form.style.display === "") {
            form.style.display = "block";
        } else {
            form.style.display = "none";
        }
    }

    function validateDates(startId, endId, errorId) {
        var startMonth = document.getElementById(startId).value;
        var endMonth = document.getElementById(endId).value;
        var errorElement = document.getElementById(errorId);

        if (startMonth > endMonth) {
            errorElement.innerHTML = `<p class='small'><i class="bi bi-info-circle"></i> End Month cannot be earlier than Start Month.</p>`;
            return false;
        } else {
            errorElement.textContent = '';
            return true;
        }
    }
</script>

{% endblock %}
